@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    top: 0;
    display: flex;
    justify-content: center;
    background-size: cover;
    width: 100%;
    align-items: center;
    background-color: white;
    height: 90px;
    flex-direction: row;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 999;
}

nav:hover{
    border-bottom: 1px solid rgb(163, 0, 238);
    transition: 0.3s;
}

.logo{
    position: absolute;
    width: 70px;
    top: 13px;
    left: 20px;
    letter-spacing: 4px;
}

.logo:hover{
    left: 15px;
    top: 7px;
    width: 80px;
    transition: 0.3s;
}


nav button{
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1vw;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 16px 19.2px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

nav button:hover {
  box-shadow: rgb(163, 0, 238) 0 0 0 1px, transparent 0 0 0 0;
}

nav ul{
    margin-left: 50px;
    list-style: none;
    display: flex;
}

nav li{
    margin: 10px;
}

.contact{
    display: none;
}

nav .icon{
    position: absolute;
    width: 55px;
    top: 18px;
    right: 20px;
    letter-spacing: 4px;
}

nav .icon:hover{
    top: 15px;
    right: 16px;
    width: 63px;
    transition: 0.3s;
}

.menuicon{
    display: none;
}

.first_part{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    height: 470px;
}

.first_part h1{
    user-select: none;
    align-self: center;
    margin-left: 110px;
    font-size: 8vw;
}

.first_part b{
    color: rgb(163, 0, 238);
    display: inline-block;
    position: relative;
}

.first_part b::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 8px;
    bottom: 0;
    left: 0;
    background-color: rgb(163, 0, 238);
    transition: transform 0.5s ease-out;
    transform-origin: bottom left;
  }
  
  .first_part b:hover::after {
    transform: scaleX(1);
  }

.first_part .img1{
    max-width: 40%;
    height: auto;
    align-self: center;
    margin-left: 90px;
    box-shadow: 10px 10px 0px rgb(163, 0, 238)
}

.first_part .img1:hover{
    margin-top: -5px;
    box-shadow: 15px 15px 0px rgb(163, 0, 238);
    transition: 0.3s;
}

.second_part{
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 500px;
}

.second_part .arrow{
    margin-top: 14px;
    width: 50px;
    height: 50px;
}

.second_part .arrow:hover{
    margin-top: 19px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    nav{
        height: 280px;
    }

    .logo {
        left: 10px;
        width: 50px;
        margin-left: 15px;
    }

    .logo:hover {
        margin-left: 5px;
        width: 60px;
    }

    nav button {
        font-size: 0.7vw;
        padding: 12px 15px;
    }

    nav ul {
        margin-top: 47px;
        margin-left: 0;
        display: block;
        text-align: center;
    }

    nav li {
        margin: 5px 0;
    }

    .contact{
        display:list-item;
    }

    nav .icon {
        display: none;
    }

    .menuicon{
        position: absolute;
        width: 37px;
        top: 22px;
        right: 30px;
        display: list-item;
    }

    .menuicon:hover{
        width: 42px;
        top: 19px;
        right: 28px;
        transition: 0.3s ease;
        display: list-item;
    }

    .first_part {
        flex-direction: column;
        height: 300px;
        margin-top: 100px;
    }

    .first_part h1 {
        margin-top: 2%;
        margin-bottom: 5%;
        font-size: 10vw;
        margin-left: 0;
        text-align: center;
    }

    .first_part .img1 {
        max-width: 80%;
        margin-left: 0;
        box-shadow: 5px 5px 0px rgb(163, 0, 238);
    }

    .first_part b::after {
        height: 5px;
      }

    .second_part {
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 20px;
    }

    .second_part .arrow {
        margin-top: -3%;
        width: 30px;
        height: 30px;
    }

    .second_part .arrow:hover {
        margin-top: 10%;
    }
}

@media (max-width: 1024px) {
    nav button {
        font-size: 14px;
        padding: 14px 16px;
    }

    .first_part h1 {
        font-size: 6vw;
    }

    .first_part .img1 {
        max-width: 50%;
    }

    .second_part {
        flex-direction: row;
        height: 450px;
    }
}

@media (min-width: 1025px) {
    nav {
        height: 90px;
    }

    .first_part {
        height: 470px;
    }

    .first_part h1 {
        font-size: 8vh;
    }

    .first_part .img1 {
        max-width: 40%;
    }
}
